---
import Layout from "../layouts/Layout.astro";
---
<Layout
  title="Sobre mi"
  description="Sobre mí y el proyecto pedaleros.com"
  keywords=""
  robots="index, follow"
>
  <h1>Sobre mí...</h1>
</Layout>