---
const fecha = new Date().getFullYear();
---

<footer class="w-full bg-slate-800">
  <div class="max-w-11/12 flex flex-col items-center justify-center p-4 md:gap-8">
    <div class="footer-menu w-full">

      <ul class="flex flex-col items-center justify-center mb-4 md:flex-row md:gap-12 md:mt-6">
        <li class='my-2'>
          <a href="/" class="link text-white text-center">Inicio</a>
        </li>
        <li class='my-2'>
          <a href="/aviso-legal" class="link text-white text-center">Aviso Legal</a>
        </li>
        <li class='my-2'>
          <a href="/politica-de-privacidad" class="link text-white text-center">Política de Privacidad</a>
        </li>
        <li class='my-2'>
          <a href="/politica-de-cookies" class="link text-white text-center">Política de Cookies</a>
        </li>
      </ul>
    
    </div>
    <p class="text-white text-xs text-center mt-4">Copyright © {fecha} - manchasdetinta.net</p>
  </div>
</footer>

<script>
  
  document.addEventListener("DOMContentLoaded", function() {
    const currentPath = location.pathname;
    const menuItems = document.querySelectorAll('.link');

    menuItems.forEach( item => {
      if (item.getAttribute('href') === currentPath) {
        item.classList.add('text-green-400', 'font-bold')
      }
    })
  })

</script>