---
import Logo from "../images/logo-manchas-de-tinta.png";
---

<header
  class="w-11/12 mx-auto rounded-full sticky top-4 z-20 mb-6 h-14 bg-white/80 backdrop-blur-sm shadow-md">
  <div class="flex items-center justify-between px-6 max-w-7xl h-full mx-auto">
    <div class="w-12">
      <a href="/">
        <img class="object-cover" src={Logo.src} alt="logo manchas de tinta" />
      </a>
    </div>

    <div class="flex flex-row-reverse">
      <div class="menu-responsive">
        <i class="fas fa-bars icono text-3xl cursor-pointer text-emerald-900"></i>
      </div>

      <nav class="nav" id="navbar">
        <ul class="menu-lista lista-oculta fixed md:static top-20 w-full left-0 flex flex-col items-center justify-center gap-6 bg-white rounded-2xl shadow-lg md:gap-10 md:bg-transparent md:flex-row md:shadow-none duration-500">
          <li class="">
            <a
              href="/"
              class="link font-semibold hover:text-emerald-400 transition-colors"
              >Inicio</a
            >
          </li>
          <li class="">
            <a
              href="/sobre-el-test"
              class="link font-semibold hover:text-emerald-400 transition-colors"
              >Sobre el test</a
            >
          </li>
          <li class="">
            <a
              href="/contacto"
              class="link font-semibold hover:text-emerald-400 transition-colors"
              >Contacto</a
            >
          </li>
          <li class="">
            <a
              href="/sobre-mi"
              class="link font-semibold hover:text-emerald-400 transition-colors"
              >Sobre mi</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>

  .menu-responsive {
    display: none;
  }

  /*** Apartado responsive ***/

  @media (width <= 800px) {
    .header {
      width: 100%;
    }

    .menu-responsive {
      display: block;
    }

    .lista-oculta {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }

    .lista-visible {
      height: 210px;
      opacity: 1;
      visibility: visible;
    }
  }
</style>

<script>
  const menuDesplegable = document.querySelector(".menu-lista");
  const menuIcono = document.querySelector(".icono");

  function manejarClic() {
    menuIcono.classList.toggle("fa-xmark");
    menuDesplegable.classList.toggle("lista-visible");
  }

  menuIcono.addEventListener("click", manejarClic);

  document.addEventListener("DOMContentLoaded", function () {
    const currentPath = location.pathname;
    const menuItems = document.querySelectorAll(".menu-link");

    menuItems.forEach((item) => {
      if (item.getAttribute("href") === currentPath) {
        item.classList.add("text-emerald-600");
      }
    });
  });
</script>
