---
import Layout from "../../layouts/Layout.astro";

import Lam1 from "../../images/1.jpg";
import Lam2 from "../../images/2.jpg";
import Lam3 from "../../images/3.jpg";
import Lam4 from "../../images/4.jpg";
import Lam5 from "../../images/5.jpg";
import Lam6 from "../../images/6.jpg";
import Lam7 from "../../images/7.jpg";
import Lam8 from "../../images/8.jpg";
import Lam9 from "../../images/9.jpg";
import Lam10 from "../../images/10.jpg";
---

<Layout
  title="Las respuestas más comunes en el Rorschach"
  description="Acá te cuento cuáles son las respuestas más comunes del Rorschach y dónde verlas. "
  keywords="respuestas rorschach, respuestas test de las manchas, respuestas test de rochard"
  robots="index follow">
  <main class="max-w-screen-xl px-4 py-8 m-auto">

    <article>
      <h1 class="text-2xl font-bold mb-8">
        ¿Cuáles son las respuestas más comunes en el test de Rorschach?
      </h1>

      <p class="leading-[1.6] my-4">
        La web está repleta de artículos que explican cuáles son las respuestas
        más comunes en el test de Rorschach, pero nadie explica lo importante
        que es que esas respuestas aparezcan.
      </p>
      <p class="leading-[1.6] my-4">
        Por eso, en este artículo te explico cuáles son las respuestas populares
        del Rorschach y porqué son tan importantes.
      </p>

      <h2 class="text-xl my-6 font-bold">Qué son las respuestas populares</h2>
      <p class="leading-[1.6] my-4">
        John Exner, creador del Sistema Comprehensivo, hizo un estudio con 600
        personas. Ese estudio consistió en aplicar el test, tabular las
        respuestas y hacer un análisis estadístico de las respuestas.
      </p>
      <p class="leading-[1.6] my-4">
        Tras el análisis encontró que había respuestas que se repetían entre el
        30% del total de evaluados. Esas respuestas hoy son conocidas como las <span
          class="text-emerald-400 font-bold">respuestas populares</span
        >.
      </p>

      <!-- ** RESPUESTAS ** -->

      <h2 class="text-xl my-6 font-bold">Las respuestas más comunes</h2>

      <p class="leading-[1.6] my-4">
        Bien, sin más preámbulo, estas son las respuestas más comunes del test
        de Rorschach:
      </p>

      <h3 class="text-lg font-bold my-6">Lámina 1</h3>

      <p class="leading-[1.6] my-4">
        En esta lámina, las respuestas populares son <span
          class="text-emerald-400 font-bold">un murciélago</span
        > o <span class="text-emerald-400 font-bold">una mariposa</span>.
      </p>
      <p class="leading-[1.6] my-4">
        Estas respuestas son consideradas populares siempre y cuando <span
          class="text-emerald-400 font-bold">se refieran a toda la lámina</span
        > y si la parte superior del murciélago o mariposa <span
          class="text-emerald-400 font-bold"
          >se identifican en la parte superior de la lámina</span
        >.
      </p>
      <p class="leading-[1.6] my-4">¿Logras verlas?</p>
      <img
        src={Lam1.src}
        alt="lamina 1 del test de Rorschach"
        class="w-4/5 md:w-1/2 m-auto"
      />

      <h3 class="text-lg font-bold my-6">Lámina 2</h3>

      <p class="leading-[1.6] my-4">
        En esta lámina lo más común es ver un <span
          class="text-emerald-400 font-bold">oso</span
        >, <span class="text-emerald-400 font-bold">cordero</span>, <span
          class="text-emerald-400 font-bold">perro</span
        > o <span class="text-emerald-400 font-bold">elefante</span> en uno de los
        lados más oscuros.
      </p>
      <p class="leading-[1.6] my-4">
        Por lo general, se ve la parte superior del animal, aunque si se ve
        competo también se considera respuesta popular.
      </p>
      <p class="leading-[1.6] my-4">
        Estas respuestas son fáciles de ver, ¿no?
      </p>
      <img
        src={Lam2.src}
        alt="lamina 2 del test de Rorschach"
        class="w-4/5 md:w-1/2 m-auto"
      />

      <h3 class="text-lg font-bold my-6">Lámina 3</h3>
      <p class="leading-[1.6] my-4">
        En esta lámina no deberías tener problemas para identificar dos <span
          class="text-emerald-400 font-bold">figuras humanas</span
        > o representaciones de ellas, ya sea como muñecos o dibujos animados.
      </p>
      <p class="leading-[1.6] my-4">
        Esta respuesta se ve en las zonas oscuras de la lámina,
        <span class="text-emerald-400 font-bold"
          >sin considerar la parte central</span
        >.
      </p>
      <img
        src={Lam3.src}
        alt="lamina 3 del test de Rorschach"
        class="w-4/5 md:w-1/2 m-auto"
      />

      <h3 class="text-lg font-bold my-6">Lámina 4</h3>
      <p class="leading-[1.6] my-4">
        La respuesta popular en esta lámina es <span
          class="text-emerald-400 font-bold">una figura humana o antropomórfica</span
        >, como un gigante ya sea <span class="text-emerald-400 font-bold"
        >en toda la lámina</span> o quitándole la parte central de abajo.
      </p>
      <p class="leading-[1.6] my-4">
        En general, esta respuesta es fácil de identificar.
      </p>
      <img
        src={Lam4.src}
        alt="lamina 4 del test de Rorschach"
        class="w-4/5 md:w-1/2 m-auto"
      />

      <h2 class="text-xl my-6 font-bold">
        ¿Qué significa ver estas respuestas?
      </h2>

      <p class="leading-[1.6] my-4">
        Como te contaba al inicio, Exner sacó estadísticas de cuáles eran las
        respuestas más comunes. A partir de eso, se estableció que estas
        respuestas populares eran <span class="text-emerald-400 font-bold"
          >indicador de convencionalidad</span
        >.
      </p>
      <p class="leading-[1.6] my-4">
        La convencionalidad tiene que ver con <span
          class="text-emerald-400 font-bold"
          >cuán normal es nuestro comportamiento</span
        > y el cómo vemos las cosas. ¿Somos capaces de ajustarnos a las normas sociales?,
        ¿nos comportamos según lo socialmente esperado?
      </p>

      <h3 class="text-lg font-bold my-6">
        Qué significa dar muchas o pocas respuestas populares
      </h3>

      <p class="leading-[1.6] my-4">
        <span class="text-emerald-400 font-bold"
          >No ver ninguna respuesta popular es un mal signo</span
        >. Indicaría que podrías tener problemas para actuar de manera adecuada
        en situaciones sociales.
      </p>
      <p class="leading-[1.6] my-4">
        Tu nivel de convencionalidad sería tan bajo que te sería difícil
        adaptarte a un trabajo, respetar la autoridad, gestionar tus emociones,
        etc.
      </p>
      <p class="leading-[1.6] my-4">
        <span class="text-emerald-400 font-bold"
          >Dar demasiadas respuestas populares también es un mal signo</span
        >. Indicaría que vives exigiéndote actuar según lo que se espera de ti.
        No te estarías dando espacio para ser espontáneo/a y no darías paso a
        expresar tu individualidad.
      </p>
      <p class="leading-[1.6] my-4">
        En este caso tendrías dificultades para expresar creatividad, para tener
        puntos de vista propios y tener opiniones personales sobre asuntos
        cotidianos.
      </p>

      <h3 class="text-lg font-bold my-6">
        Entonces, ¿cuántas respuestas populares debería dar?
      </h3>

      <p class="leading-[1.6] my-4">
        Lo esperado es que si das un total de 22 respuestas en toda la prueba, <span
          class="text-emerald-400 font-bold">entre 5 o 6</span
        > sean respuestas populares.
      </p>
      <p class="leading-[1.6] my-4">
        <span class="text-emerald-400 font-bold"
          >Sin embargo, la interpretación dependerá siempre del total de
          respuestas.</span
        >
      </p>
    </article>
  </main>
</Layout>
